<div id="random" class="left">
<h1>Random mixtapes</h1>
<ul>
  <% $.each(random_mixtapes, function(index, mixtape){ %>
  <li><a href="#/mixtapes/<%= mixtape._id %>"><%= mixtape.theme %></a></li>
  <% }); %>
</ul>
</div>

<div id="popular" class="right">
<h1>Popular mixtapes</h1>
<ul>
  <% $.each(popular_mixtapes, function(index, mixtape){ %>
  <li><a href="#/mixtapes/<%= mixtape._id %>"><%= mixtape.theme %></a></li>
  <% }); %>
</ul>
</div>

<br class="clear" />

<div id="events" class="full">
<h1>Recent activity</h1>
</div>
