!!! 5
html
head
  title mxt.ps 
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/jplayer.mxtps.css')
  script(src='/javascripts/lib/jquery/jquery-1.4.2.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
  link(rel='stylesheet', href='/javascripts/lib/jquery-ui/css/smoothness/jquery-ui-1.8.4.custom.css')
  script(src='/javascripts/lib/jquery-ui/js/jquery-ui-1.8.4.custom.min.js')
  script(src='/javascripts/lib/sammy/sammy-latest.min.js')
  script(src='/javascripts/lib/sammy/plugins/sammy.ejs-latest.min.js')
  script(src='/javascripts/lib/sammy/plugins/sammy.storage-latest.min.js')
  //- script(src='/javascripts/lib/jplayer/jquery.jplayer.min.js')
  script(src='/javascripts/lib/jPlayer/jquery.jplayer/jquery.jplayer.js')
  script(src='/javascripts/lib/underscore-min.js')
  script(src='/javascripts/lib/jquery.livequery.js')
  script(src='/javascripts/lib/jquery.timeago.js')
  script(src='/javascripts/lib/jquery.cookie.js')
  script(src='/javascripts/lib/faye-browser-min.js')
  script(src='/javascripts/client.js')
body
  #container
    #header
      a(href='#/')
        img(src='/stylesheets/mxtps_320.png')
    #nav
      #navleft
        ul
          li
            a.button(href='#/mixtapes/new') Create a new mixtape
        #now-playing
      .jp-playlist-player
        .jp-interface
          ul.jp-controls
            li
              a#jplayer_play.jp-play play
            li
              a#jplayer_pause.jp-pause pause
            li
              a#jplayer_stop.jp-stop stop
            li
              a#jplayer_volume_min.jp-volume-min min volume
            li
              a#jplayer_volume_max.jp-volume-max max volume
            li
              a#jplayer_previous.jp-previous previous
            li
              a#jplayer_next.jp-next next
          .jp-progress
            #jplayer_load_bar.jp-load-bar
              #jplayer_play_bar.jp-play-bar
          #jplayer_volume_bar.jp-volume-bar
            #jplayer_volume_bar_value.jp-volume-bar-value
          #jplayer_play_time.jp-play-time
          #jplayer_total_time.jp-total-time
        #jplayer_playlist.jp-playlist
      br.clear
    #player
    #content-container
      #content
        != body
      br.clear
        #activity.full
          h1 Recent activity
          #events

  #footer-container
    #footer
      #twitter
        a(href='http://twitter.com/mxtps', target='twitter')
          img(src='http://twitter-badges.s3.amazonaws.com/t_logo-a.png')
      #vote
        a(href='http://nodeknockout.com/teams/mxt-ps', target='nko')
          img(src='http://nodeknockout.com/images/voteko.png')
      #copyright &copy; 2010 mxt.ps
      br.clear
  #dialog
