<form method='POST' action='#/mixtapes/<%=mixtape._id%>/contributions'>
  <h1 class="theme"><%=mixtape.theme%></h1>

  <div>
    <label for="f_user">Your name</label>
    <input type='text' name='user' id="f_user" />
  </div>
  <div>
    <label for="f_artist">Artist</label>
    <input type='text' name='artist' id="f_artist" />
  </div>
  <div>
  <label for="f_title">Song title</label>
  <input type='text' name='title' id="f_title" />
  </div>
  <div>
  <label for="f_comments">Why you think it works:</label>
  <textarea name="comments" id="f_comments"></textarea>
  </div>
  <ul>
    <!-- li><a class="button" href="#/mixtapes/<%= mixtape.id %>">Cancel</a></li -->
    <li><input type='submit' value='Add my song' /></li>
  <ul>
</form>
