/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of css reset */


/* mxt.ps */

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }



body {
  background-color: #fff;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 170%;
  font-size: 14px;
}

#footer,
#container {
  width: 960px;
  margin: 0 auto;
}

#header,
#nav,
#content,
#footer-container {
  width: 100%;
  padding: 20px;
}

#header {
  margin-top: 20px;
}

#nav {
}

#content {
}

#footer-container {
  background-color: #333;
  color: #fff;
}

#copyright {
  float: left;
  font-size: 12px;
  color: #999;
}

h1 {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
  padding-top: 10px;
}

h2 {
  font-size: 16px;
  margin-top: 10px;
  padding-top: 10px;
}

.left h1, .right h1, .full h1 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
}
  
p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #999;
  border-bottom: 1px #aaa dotted;
}

#footer a {
  border-bottom: none;
}

.jp-playlist-player a {
  border-bottom: none;
}

#vote {
  position: fixed; top: 5px; right: 5px; border: 0px;
}

#twitter {
  float: right;
}

br.clear {
  float: none;
  clear: both;
}

input[type="text"], textarea {
  border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
  background-color: #f2f2f2;
  padding: 16px;
  width: 906px;
  border: 1px solid #f2f2f2;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 100;
  font-size: 22px;
}

input[type="text"]:focus, textarea:focus {
  box-shadow: 0 0 4px rgba(200,200,200,1.0); -webkit-box-shadow: 0 0 4px rgba(200,200,200,1.0); -moz-box-shadow: 0 0 4px rgba(200,200,200,1.0);
}

button, input[type="button"], input[type="submit"], a.button {
  cursor: pointer;
  border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
  padding: 10px;
  border: 0;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover, a.button:hover,
button:focus, input[type="button"]:focus, input[type="submit"]:focus, a.button:focus {
  box-shadow: 0 0 4px rgba(51,51,51,1.0); -webkit-box-shadow: 0 0 4px rgba(51,51,51,1.0); -moz-box-shadow: 0 0 4px rgba(51,51,51,1.0);
}

.jp-playlist-player {
  /*display:none;*/
  margin: 0 20px;
  margin-bottom: -10px;
}

.left, .right, .full
{
  border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
  background-color: #f2f2f2;
  padding: 16px;
  margin: 10px;
  float: left;
}
.left, .full {
  margin-left: 0;
  width: 428px;
}
.right, .full {
  margin-right: 0;
  width: 428px;
}
.full {
  width: 906px;
}

#f_theme, #f_comments {
  margin-bottom:20px;
}

#contributions {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  margin-bottom:20px;
}

#contributions ol {
  list-style: decimal;
  margin-left: 30px;
  width: 428px;
}

#contributions ol li span {
}

#contributions ol li p {
  display: none;
  font-size: 12px;
  color: #999;
}

h1.theme {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 100;
  font-size: 36px;
  padding:20px 0;
}

/* temporary styles (until logo is ready) */

#header h1 a {
  font-size: 72px;
  color: #f06;
  border-bottom: none;
}

