<form method='POST' action='#/mixtapes'>
  <p>Theme for the mixtape:</p>
  <textarea id="theme" name="theme"></textarea>
  <li>
    <ul><a href='/#'>Later, take me back to main page</a></ul>
    <ul><input type='submit' value='Start my mixtape' /></ul>
  </li>
</form>
