<form method='POST' action='#/mixtapes'>
  <p>Theme for the mixtape:</p>
  <input type="text" id="theme" name="theme" />
  <ul>
    <!-- li><a class="button" href='/#/'>Later, take me back to main page</a></li -->
    <li><input type='submit' value='Start my mixtape' /></li>
  </ul>
</form>
