<h1 class="theme"><%= mixtape.theme %></h1>

<div id="contributions" class="full">
  <ol>
    <% $.each(mixtape.contributions, function(index, contribution){ %>
      <li>
        <span><%=contribution.title + " by " + contribution.artist%></span>
        <p><%=contribution.comments%> &mdash; contribution.user.name</p>
      </li>
    <% }) %>
  </ol>
</div>

<a class="button" href="#/mixtapes/<%=mixtape._id%>/contributions/new">Suggest a song</a>
